<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Barcode Page</title>
    <style>
        *{
            font-family:Times New Roman;
        }
        h4{
            text-align: center;
        }


    </style>
</head>
<body>
<div class="container mt-3">
    <form method="POST" enctype="multipart/form-data">
        <h4 class="alert alert-success">Generate Barcode Using Python - Django </h4>
        {% csrf_token %}
        {{ form | crispy }}
        <p>
            <input type="submit" class="btn btn-success" value="Submit">
            <a href="{% url 'qrcode_app:qrcode_generate' %}">do you want to generate Qrcode ?</a>
        </p>
    </form>
</div>
</body>
</html>